{% extends 'template.html' %}
{% block content %}
    <!-- <div class="content"> -->
    <h2 class="subheader">Anon Feedback Form</h2>
    <p>
        Here you can send an anonymous feedback. Fill in the form for each question and click send to submit.
    </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="http://127.0.0.1:5000/anonfeedback" method="POST">
        <label>Choose the name of the instructor.</label><br>
        <select name = "instructorname">
            {% with instructors = instructors %}
            {% if instructors %}
                {% for key, value in instructors.items() %}
                    <option value= {{key}}>{{ value }}</option>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </select><br>
        <label>Enter the course code:</label><br>
        <div class="formboxcontainer">
            <input type="text" class="mandatory" name="coursecode" required>
        </div>
        <label>What do you like about the instructor teaching?</label><br>
        <div class="formboxcontainer">
            <input type="text" class="formbox" id="ans1" name="feedback_a" required>
        </div>
        <label>What do you recommend the instructor to do to improve their teaching?</label><br>
        <div class="formboxcontainer">
            <input type="text" class="formbox" id="ans2" name="feedback_b" required>
        </div>
        <label>What do you like about the labs?</label><br>
        <div class="formboxcontainer">
            <input type="text" class="formbox" id="ans3" name="feedback_c" required>
        </div>
        <label>What do you recommend the lab instructors to do to improve their lab teaching?</label><br>
        <div class="formboxcontainer">
            <input type="text" class="formbox" id="ans4" name="feedback_d" required>
        </div>
        <input type="submit" value="Submit" class="button" id="feedbackbutton">

    </form>

    <!-- </div> -->

            
{% endblock %}