{% extends 'template.html' %}
{% block content %}

<div class = "content">
    <h2 class = "subheader">Course Team</h2>
    <h3 class="smallheader">Professor</h3>
    <h3 class="names">Purva R. Gawde</h3>
    <P>
        e-mail: <a href="purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a><br>
        Office Hours: Tuesday 10:00-11:00, in IC 484
    </P>
    <h3 class="smallheader">TAs</h3>
    <h3 class="names">Rick</h3>
    <p>
        Office Hours: Wednesday 17:00-18:00 (online) and Thursday 15:00-16:00 (in IC 402) 
    </p>
    <h3 class="names">Vidya</h3>
    <p>
        Office Hours: Tuesday 14:00 - 16:00, in IC 400A
    </p>
</div>
</div>

{% endblock %}