{% extends "template.html" %}
{% block content %}   
<!-- <div  class="content"> -->
	{% if session.role == "Instructor" %}
		<h2 class="subheader">Here is the grades of all the student</h2>
	{% else %}
		<h2 class="subheader">Here are your grades</h2>
	{% endif %}

	<div class="table">
	<ul class = "row">
		<li class = "th">username</li>
		<li class = "th">assignment</li>
		<li class = "th">grade</li>
		<li class = "th">outof</li>
		<li class = "th">remark request</li>
	</ul>
	{% for Grades in query_grade_result %}
	<ul class = "row">
		<li class = "td">{{Grades.username}}</li>
		<li class = "td">{{Grades.assignment}}</li>
		<li class = "td">{{Grades.grade}}</li>
		<li class = "td">{{Grades.outof}}</li>
		<li class = "td">{{Grades.remark}}</li>
	</ul>
	{% endfor %}
	</div>
	<br>
	{% if session.role == "Instructor" %}
		<h3>Add new grades <a href = "{{ url_for('InstGrades') }}">here.</a></h3>
		
	{% else %}
		<a href ="{{ url_for('remark') }}" role="button">Request the remark from here</a>
	{% endif %}
<!-- </div> -->

{% endblock %}