{% extends "template.html" %}
{% block content %}       

    {% if session.name %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>Welcome back {{ session.fullname }}, you are {{ message }}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% endif %}

    <h2 class="subheader">Course Description</h2>
    <p>A practical introduction to databases and Web app development. 
        Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. 
        Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; 
        Web application development and interface with databases.
    </p>
    <p>
        <span class="bolding">Prerequisite:</span>Some experience with programming in an imperative language such as Python, Java or C.
    </p>
    <p>
        <span class="bolding">Exclusion:</span> This course may not be taken after - or concurrently with - any C- or D-level CSC course.
    </p>
    <h2 class="subheader">Instructor</h2>
    <p>Purva R. Gawde</p>
    <div class = "simpletable">
        <div class = "hometd">
            <div class = "tr">Email:</div>
            <div class = "tr">Office:</div>
            <div class = "tr">Phone:</div>
            <div class = "tr">Lectures:</div>
            <div class = "tr">Office Hours:</div>
        </div>
        <div>
            <div class = "tr">purva.gawde@utoronto.ca</div>
            <div class = "tr">IC 484</div>
            <div class = "tr">(647) 601-4658</div>
            <div class = "tr">Mondays 9:00-11:00, in HL B101</div>
            <div class = "tr">Tuesday 10:00-11:00, in IC 484</div>
        </div>
    </div>
   

{% endblock %}