{% extends "template.html" %}
{% block content %}
<!-- <div  class="content"> -->
    <h2 class="subheader">Tutorial Sections</h2>
    <p class="paragraph">Please go the tutorial section that you signed up for on ROSI.</p>
    <h2 class="subheader">Tutorial Exercises</h2>
    <p>This section contains the tutorial exercises.</p>
    <p>Tutorials are held every week. The first tutorial week is week 2. 
        Please make use of this valuable resource!
    </p>

    <div class="table">
    <ul class="row">  
        <li class="th">Week</li>
        <li class="th">Labs</li>    
        <li class="th">Solutions</li>    
    </ul>

    <ul class="row">
        <li class="td">2</li>
        <li class="list">
        <ul>
        <li>                        
            <a href="B20Assignment2.pdf">Python</a>
        </li>
        <li>
            <a href="B20Assignment2.pdf">Command Line</a>
        </li> 
        <li class="td">None</li>
        </ul>
        </ul>

        <ul class="row">
        <li class="td">3</li>
        <li class="list">
            <ul>
            <li>
                <a href="B20Assignment2.pdf" >Handout</a>
            </li>
            </ul>
        </li>
        <li class="td"></li>
        </ul>

        <ul class="row">
            <li class="td">4</li>
            <li class="list">
                <ul>
                    <li>                        
                        <a href="B20Assignment2.pdf">Python</a>
                    </li>
                    <li>
                        <a href="B20Assignment2.pdf">Command Line</a>
                    </li>
                </ul> 
            </li>  
            <li class="td">
                <a href="B20Assignment2.pdf" >Query Solns</a>
            </li>  
        </ul>

        <ul class="row">
            <li class="td">5</li>
            <li class="list">
                <ul>
                    <li>                        
                        <a href="B20Assignment2.pdf" class="listitem">Handout</a>
                    </li>
                    <li>
                        <a href="B20Assignment2.pdf" class="listitem">University.sql</a>
                    </li>
                </ul>
            </li>
            <li class="td">
                <a href="B20Assignment2.pdf" >Query Solns</a>
            </li>
        </ul>

        <ul class="row">
            <li class="td">6</li>
            <li class="list">
                <ul>
                    <li>
                        <a href="B20Assignment2.pdf" >Handout</a>
                    </li>
                </ul>
            </li>
            <li class="td">
                <a href="B20Assignment2.pdf" >Query Solns</a>
            </li>
        </ul>
        <ul class="row">
            <li class="td">7</li>
            <li class="list">
                <ul>
                    <li>
                        <a href="B20Assignment2.pdf" >Handout</a>
                    </li>
                </ul>
            </li>
            <li class="td"></li>
        </ul>

        <ul class="row">
            <li class="td">8</li>
            <li class="list">
                <ul>
                    <li>
                        <a href="B20Assignment2.pdf" >Handout</a>
                    </li>
                </ul>
            </li>
            <li class="td"></li>
        </ul>
            
        <ul class="row">
            <li class="td">9</li>
            <li class="list">
                <ul>
                    <li>
                        <a href="B20Assignment2.pdf" >Handout</a>
                    </li>
                </ul>
            </li>
            <li class="td"></li>
        </ul>

        <ul class="row">
            <li class="td">10</li>
            <li class="list">
                <ul>
                    <li>
                        <a href="B20Assignment2.pdf" >W3 Tutorial</a><br>
                        Work through the tutorial for jQuery up until jQuery Remove.
                    </li>
                </ul>
            </li>
            <li class="td"></li>
        </ul>
        
    </div>
<!-- </div> -->

{% endblock %}