{% extends 'template.html' %}
{% block content %}


<h2 class = "subheader">Lecture Schedule</h2>
<p>Please print and bring these notes/worksheets to class.</p>
<div class="table">
    <ul class = "row">
        <li class = "th">Week</li>
        <li class = "th">Topic</li>
        <li class = "th">Lecture Material</li>
        <li class = "th">In Class</li>
    </ul>
    <ul class = "row">
        <li class = "td">1</li>
        <li class = "td">Introduction - Databases,Relational Model</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 1 PDF</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">2</li>
        <li class = "td">relational Model, Relational Algebra</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 2 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">3</li>
        <li class = "td">Relational Algebra Queries and SQL Query Language</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 3 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">4</li>
        <li class = "td"> SQL Query Language</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 4 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td"><a href="Week_1-Introduction.pdf">In class MySQL</a></li>
    </ul>
    <ul class = "row">
        <li class = "td">5</li>
        <li class = "td"> SQL and Introduction to web development</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 5 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">6</li>
        <li class = "td"> Introduction to HTML and CSS</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 6 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">7</li>
        <li class = "td"> HTML, CSS, Box Model</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 7 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">8</li>
        <li class = "td"> Mid-term Exam</li>
        <li class = "td">N/A</li>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">9</li>
        <li class = "td">Introduction to Flask, Flexbox and Media Queries</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 9 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">10</li>
        <li class = "td">Flask and Introduction to JavaScript</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 10 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">11</li>
        <li class = "td">Integrating Flask and SQL</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 11 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">12</li>
        <li class = "td">Flask and SQL, examples</li>
        <div>
            <li class = "list">
                <ul>
                    <li>
                        <a href="Week_1-Introduction.pdf">Week 12 PDF</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Worksheet</a>
                    </li>
                    <li>
                        <a href="Week_1-Introduction.pdf">Solution for Worksheet</a>
                    </li>
                </ul>
            </li>
        </div>
        <li class = "td">   </li>
    </ul>
    <ul class = "row">
        <li class = "td">13</li>
        <li class = "td">Wrap-up</li>
        <li class = "td">N/A</li>
        <li class = "td">   </li>
    </ul>
</div>


{% endblock %}