{% extends "template.html" %}
{% block content %}

<!-- <div class="content"> -->
    <div class = "markUs">
        <h2 class = "subheader">What is Markus?</h2>
        <p class = "markUsPara">
            MarkUs is a web application for submission and grading of student assignments. It helps students get a more valuable feedback 
            from TA's. Below is the link to go:
        </p>
        <p>
            <a href = "https://markus.utsc.utoronto.ca/cscb20w22", class = "Markus">Go to MarkUs</a>
        </p>
    </div>
<!-- </div> -->

{% endblock %}
    