{% extends "template.html" %}
{% block content %}
    
<!-- Piazze element-->
<!-- <div class="content"> -->
    <!-- <div class = "piazza"> -->
    <h2 class = "subheader">What is Piazza?</h2>
    <p class = "piazzaPara">
        Piazza is designed to become a paltform for everyone who's taking CSCB20 course to ask questions, discuss any course materials and cooperate in a variety of ways. Below is the link to go:
    </p>
    <p>
        <a href = "https://piazza.com/class/kxj5alixpjg4ft?cid=158", class = "piazza">Click to open Piazza</a>
    </p>    
    <!-- </div> -->
<!-- </div> -->

{% endblock %}        
