{% extends 'template.html' %}

{% block content %}
<h1>Remark request form</h1>
<form method = "POST">
  <label>Choose the assignment that you want to request for the remark.</label><br>
  <select name = "assignmentname">
    {% with assignmentname = assignmentname %}
      {% if assignmentname %}
        {% for value in assignmentname %}
          <option>{{ value }}</option>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </select>
  <br>
    <label for="remark">Please write the reason why you are requesting the remark.</label>
    <br>
    <div class="formboxcontainer">
      <input type="text" class="formbox" id="ans4" name="remark" required>
    </div>
    <input type="submit" value="Submit" class="button" id="remarkbutton">
</form>
{% endblock %}