{% extends 'template.html' %}
{% block content %}
    
    
<!-- Online Resource elements-->
<div class = "content">
    <h2 class = "subheader">Online Resources</h2>
    <ul>
        <li>
            <h4>
                <li><a href = "index.html" class = "resouceLink">Course Website</a></li>
            </h4>
            <p>
                Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently.
            </p>
        </li>
        <li>
            <h4>
                Begginer tutorial for <a href = "https://code.tutsplus.com/articles/sql-for-beginners--net-8200" class = "MySQLLink">MySQL</a>.
            </h4>
        </li>
        <li>
            <h4>Email Communication</h4>
            <p>
                Questions regarding the course material, assignments, midterm, etc. should be posed on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.
            </p>
        </li>
        <li>
            <h3> <a href = "https://piazza.com/class/kxj5alixpjg4ft?cid=158" class = "linkToDiscussionBoard">Discussion board</a></h3>
            <p>
                You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. The bulletin board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board.
            </p>
        </li>
    </ul>


    <!-- Software and documentation resources-->
    <div class = "SandDocumentation">
        <h2 class = "subheader">Software and documentation</h2>
        <ul>
            <li>
                <h4>Logging into Mathlab</h4>
                <ul>
                    <li><span class="bolding">Mac OS</span> comes with the application "terminal". Simple click on it to run. Login to mathlab by typing</li>
                    <p>
                        ssh utorid@mathlab.utsc.utoronto.ca. Enter your password
                    </p>

                    <li><span class="bolding">Windows</span> - you will need a SSH client. PuTTY is a good free one. You can download and install here: PuTTY. Use the same command as above to login to mathlab:</li>
                    <p>
                        ssh utorid@mathlab.utsc.utoronto.ca.
                    </p>
                </ul>
            </li>
        </ul>
    </div>
</div>
    
{% endblock %}