{% extends "template.html" %}
{% block content %}   

<div  class="content">
    <h2 class="subheader">Here is your grade</h2>
    <div class="table">
        <ul class = "row">
            <li class = "th">assignment</li>
            <li class = "th">grade</li>
            <li class = "th">outof</li>
        </ul>
        {% for Grades in query_grade_result %}
        <ul class = "row">
            <li class = "td">{{Grades.assignment}}</li>
            <li class = "td">{{Grades.grade}}</li>
            <li class = "td">{{Grades.outof}}</li>
        </ul>
        {% endfor %}
        <a href ="/remark" role="button">Request the remark from here</a>
    </div>
</div>


{% endblock %}